@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Roboto&display=swap");

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.87);
  background-color: #121212;
}

#resume {
  margin: 30px auto;
  padding: 20px;
  width: 23cm; /* 21 */
  height: 29.7cm;
  background-color: #fefefe;
}

h1 {
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 2.75rem;
}

h2 {
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-bottom: 18px;
  font-size: 1.1rem;
}

h3 {
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 1rem;
}

h4 {
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  font-size: 0.8rem;
}

p {
  text-align: justify;
}

hr {
  border-top: solid 1px rgba(0, 0, 0, 0.12);
  margin-top: 32px;
  margin-bottom: 32px;
}

svg {
  border-radius: 50%;
  /* fill: black; */
  fill: white;
  padding: 4px;
  background-color: #121212;
  /* border: solid 1px rgba(0, 0, 0, 1); */
  opacity: 0.87;
  height: 32px;
  width: 32px;
}

a,
a:hover,
a:visited,
a:link,
a:active {
  color: inherit;
  text-decoration: underline;
  margin: 0;
  padding: 0;
}

.avatar {
  position: absolute;
  top: 0;
  right: 16px; /* Was 48px, 16px to align with dates */
  border-radius: 50%;
  width: 126px;
  height: 126px;
}

.l-divider {
  border-left: solid 1px rgba(0, 0, 0, 0.12);
}

.inset-divider {
  max-width: 164px;
  margin-left: 0px;
}

.labeled-icon {
  display: flex;
  align-items: center;
}

.skill {
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.6);
}

.left-side section {
  padding-right: 24px;
}

.right-side section {
  padding-left: 24px;
}

.right-side hr {
  margin-left: 24px;
}

h1,
h2,
h4,
.text-high {
  color: rgba(0, 0, 0, 0.87);
}

.text-medium {
  color: rgba(0, 0, 0, 0.6);
}

h3,
.text-low {
  color: rgba(0, 0, 0, 0.38);
}

.text-caption {
  font-weight: 500;
  font-size: 0.85rem;
  letter-spacing: 0.0566666em;
  color: rgba(0, 0, 0, 0.6);
}
